<button [disabled]="loading"
        class="btn btn-primary">
  {{text}}
  <span *ngIf="loading" class="ml-1 spinner-border spinner-border-sm" role="status">
    <span class="sr-only">Cargando...</span>
  </span>
</button>
