<nav class="navbar navbar-dark bg-dark navbar-expand">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      {{title}}
    </a>
    <ul class="navbar-nav">
      <li *ngFor="let item of navItems" class="nav-item">
        <a [routerLink]="item.link"
           routerLinkActive="active"
           class="nav-link">
          {{item.label}}
        </a>
      </li>
    </ul>
  </div>
</nav>
