<app-table [header]="header"
           [loading]="loading"
           class="table-responsive"
           tableClass="table-sm table-bordered table-striped">
  <tr *ngFor="let item of paragraphsCounts; let i = index" class="text-right">
    <th scope="row">
      {{i + 1 }}
    </th>
    <td *ngFor="let letterCount of item.letterCount">
      {{letterCount}}
    </td>
    <td>{{item.totalNumbers}}</td>
  </tr>
</app-table>
