<h1>Array</h1>

<app-button (click)="getData()"
            [loading]="loading"
            text="Obtener datos">
</app-button>

<app-alert type="danger" [show]="error">
  {{error}}
</app-alert>

<div class="m-1" *ngIf="(arrayData$ | async) as arrayData">
  <div class="form-group mt-2">
    <label for="orderedNumbers">Números ordenados</label>
    <input id="orderedNumbers" class="form-control" readonly
           [value]="arrayData.orderedNumbers.toString()">
  </div>
  <app-array-table class="mt-2"
                   [loading]="loading"
                   [items]="arrayData.items"></app-array-table>
</div>
