<div *ngIf="show"
     class="alert alert-dismissible fade show"
     [ngClass]="'alert-'+type"
     role="alert">

  <ng-content></ng-content>
  <button type="button" (click)="closeAlert()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
