<table class="table"
       [ngClass]="tableClass">
  <thead>
  <tr>
    <th scope="col" *ngFor="let item of header">
      {{item}}
    </th>
  </tr>
  </thead>
  <tbody *ngIf="!loading">
  <ng-content></ng-content>
  </tbody>
  <tbody *ngIf="loading">
  <tr>
    <td [attr.colspan]="header.length"
        class="bg-white">
      <div class="spinner-container">
        <div class="spinner-border" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
