<app-table [header]="header"
           tableClass="table-borderless"
           [loading]="loading">

  <tr *ngFor="let item of items; let i = index"
      [class.table-success]="item.quantity >= 2"
      [class.table-warning]="item.quantity === 1"
      [class.bg-dark]="item.quantity < 1">
    <th scope="row">
      {{i}}
    </th>
    <td>{{item.number}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.firstPosition}}</td>
    <td>{{item.lastPosition}}</td>
  </tr>
</app-table>
