<h1>
  Dict
</h1>

<app-button (click)="getData()"
            [loading]="loading"
            text="Obtener datos">
</app-button>

<app-alert type="danger" [show]="error">
  {{error}}
</app-alert>

<div *ngIf="(processedParagraph$ | async) as paragraphs"
     class="mt-3">

  <app-dict-table [loading]="loading"
                  [paragraphs]="paragraphs"></app-dict-table>
</div>

